<form action="/figures" method="post">
  <h2>Figure</h2>
  <label for="figure_name">Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name"><br/>

  <h2>Landmarks</h2>
  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" />
  <br />
  <% end %>

  <label><h2>New Landmark:</h2></label>
  <label>Landmark Name:</label>
    <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year Completed:</label>
    <input type="text" name="landmark[year_completed]">

  <h2>Titles</h2>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" />
    <br />
  <% end %>

  <label><h4>Create New Title:</h4></label>
   <input type="text" id="new_title" name="title[name]"><br />

  <input type="submit" value="Create New Figure">
</form>
